html
body {
  background-color: #F8F8F8;
}

.sidebar.menu {
  margin-top: 40px!important;
}

.pusher {
  padding-top: 40px!important;
}

.login-grid {
  height: 100%;
}

.field.error small.helper {
  color: #9F3A38 !important;
}
